.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0;
    padding-top: 26px;
  }

  @media (min-width: 1280px) {
    .profile__title{
      font-weight: 500;
      font-size: 42px;
      line-height: 48px;
      padding-left: 29px;
      padding-top: 20px;
    }
}