.popup__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #000000;
    padding-bottom: 13px;
    margin: 0 auto 0;
    text-align: left;
    outline:none;
}

